<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>917123372105-oi3sd92qojjhlkgiuc77rap80gpge4uh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.917123372105-oi3sd92qojjhlkgiuc77rap80gpge4uh</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>917123372105-10tm6ua7jjlfdol5hrhuki6j6qh6sejl.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDTZdVevKqk2Loqb3Bl-2oQkUH-O0HI-g8</string>
	<key>GCM_SENDER_ID</key>
	<string>917123372105</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.yogiraj.fthve2</string>
	<key>PROJECT_ID</key>
	<string>fthve2</string>
	<key>STORAGE_BUCKET</key>
	<string>fthve2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:917123372105:ios:e9086fae61c3a8878d1b98</string>
	<key>DATABASE_URL</key>
	<string>https://fthve2.firebaseio.com</string>
</dict>
</plist>